/*RESET*/
* {
    padding: 0px;
    margin: 0;
    border: none;
    color: rgb(236, 201, 228);
    text-decoration: none;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}
/*COR DE FUNDO*/
body{
    background-color: rgba(95, 52, 115);
}
/*IMAGEM*/
.cabecalho{
    text-align: center;
    margin: 100px;
    margin-bottom: 20px; 
}
/*BOTÕES*/
.botao-pesquisa{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    width: 200px;
    font-size: 20px;
    text-shadow: -5px 5px 5px rgb(51, 3, 70);
    padding: 15px;
    border-radius: 15px;
    background-color: rgb(46, 46, 54, 0.8);
    margin: 10px;
    transition: 1s;
    }

.btn:hover{
    background-color: rgba(95, 52, 115);
    box-shadow: -3px 3px 15px rgb(186, 79, 228), 3px -3px 15px rgb(186, 79, 228);
}

/*TABELA*/
.tabela{
    display:flow-root;
    width: 800px;
    height: 550px;
    margin: auto;
    margin-top: 10px;
    background-color: rgb(46, 46, 54, 0.6);
    border: 3px solid;
    border-image: linear-gradient(135deg,rgb(126, 102, 236) 0%,rgb(255, 0, 168), rgb(126, 102, 236) 100%) 1;
    box-shadow: -5px 5px 20px rgb(186, 79, 228), 5px -5px 20px rgb(186, 79, 228);
    overflow-y: scroll;
}  

.albuns, .todos{
    width: 600px;
}

.tabela::-webkit-scrollbar{
    width: 10px;
    border: 1px solid rgb(102,102,102,0.5);
    background-color: rgb(46, 46, 54, 0.6);
}
.tabela::-webkit-scrollbar-thumb{
    background-color: rgb(217, 163, 241);
    margin-right: 10px;
}

.td, td{
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(160, 88, 150);
    text-align:center;
} 

/*CAMPO DE PESQUISA*/
.pesquisa{
    width: 770px;
    text-align: left;
    font-size: 13px;
    padding: 12px;
    color:#727272;
    margin: 20px;
    margin-bottom: 5px;
    background-color: #f3f3f3;
    box-shadow: -3px 3px 15px rgb(186, 79, 228), 3px -3px 15px rgb(186, 79, 228);
}

.pesquisa-albuns, .pesquisa-todos{
    width: 575px;
}
